<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.errors != [] do %>
    <p style="color: red">Oops, something went wrong!</p>
  <% end %>

  <%= hidden_input f, :file_name, [value: "validate.me"] %>
  <%= hidden_input f, :file_size, [value: 0] %>

  <p>
    <label>
      <span>Select the file to be scrubbed from here:</span>
      <%= file_input f, :upload_file %>
    </label>
  </p>

  <p>
    <%= submit "Upload the file" %>
  </p>
<% end %>
